
.container
  display: flex
  flex-direction: column
  align-items: center

.link
  text-decoration: none
  color: black
  margin: 10px


.btnBig
  width: 120px
  height: 60px
  //border: 1px solid grey
  border-radius: 16px
  padding: 0px 50px 0px 50px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-color: #51B6BC
  font-weight: 500
  color: #fff
//box-shadow: 0px 2px 5px 0px #ececec

.btnBig:hover
  //border: 1px solid black
  box-shadow: 0px 0px 8px 0px #51B6BC
